.index {
    display: flex;
    overflow: hidden;

    .index_wrapper {
        position: relative;
        overflow: hidden;
        outline: $link-color 1px solid;
        background-color: white;       
        flex-shrink: 0;
        width: $container-width;
        height: $container-height;
        padding: 20px;
        margin: 20px;
    }
}